{% load cms_tags sekizai_tags staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon"
      type="image/png"
      href="https://cge.cbs.dtu.dk/favicon.ico">
    <title>Center for Genomic Epidemiology</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% render_block "css" %}
</head>

<body>
    {% cms_toolbar %}
    <!-- Navbar and Header -->
    <nav class="nav-extended blue-grey darken-3">
      <div class="nav-wrapper container"></div>
      <div class="nav-header center">
          <h4>Center for Genomic Epidemiology</h4>
          <div class="tagline">CGE</div>
      </div>

      <div class="categories-wrapper">
        <div class="categories-container">
          <ul class="categories container">
            <li><a href="/">Home</a></li>
            <li><a href="org/">Organization</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <main>

      <div class="container">
         <div class="row">
           <div class="col s12 l12">
             <br></br>
             {% static_placeholder 'title_desc' %}
             {% static_placeholder 'text_content' %}
             {% static_placeholder 'title_news' %}
             <br></br>
             {% static_placeholder 'recent_news' %}
          </div>
        </div>
        <div class="row center">
          <a class="waves-effect waves-light btn blue-grey darken-3" href="news/">MORE NEWS</a>
        </div>
      </div>

    </main>

    <br></br>

    <footer class="page-footer blue-grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <ul class="grey-text text-lighten-4">
              <li> Copyright DTU 2011 / All rights reserved <li>
              <li> Center for Genomic Epidemiology, DTU, Kemitorvet, Building 204, 2800 Kgs. Lyngby, Denmark </li>
              <li>Contact: Vibeke Dybdahl Hammer, Telephone: +45 3588 6420, E-mail: vdha@food.dtu.dk </li>
              <li>Funded by: The Danish Council for Strategic Research</li>
            </ul>
          </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Text
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
     {% render_block "js" %}
</body>

</html>
