
{% load cms_tags %}
{% load url from future %}

{% for news_item in news_items %}
	<div class="col s12 m4">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">{{ news_item.headline }}</span>
				<p class="meta">{{ news_item.news_date|date:"F jS, Y" }}</p>
				<p>{{ news_item.sub_headline|safe }}</p>
			</div>
			<div class="card-action">
				<a href="{{ news_item.get_absolute_url }}">Read more</a>
			</div>
		</div>
	</div>
{% endfor %}
