{% extends 'news.html' %}
{% load cms_tags sekizai_tags staticfiles thumbnail %}

{% block news_content %}
  {% for news_item in object_list %}
      {% render_model_block news_item %}
        <div class="col s12 m5">
          <div class="card blue-grey darken-1">
      			<div class="card-content white-text">
              <span class="card-title">{{ news_item.headline }}</span>
      				<p class="meta">{{ news_item.news_date|date:"F jS, Y" }}</p>
      				<p>{{ news_item.sub_headline|safe }}</p>
      			</div>
          </div>
        </div>
      {% endrender_model_block %}
  {% endfor %}
{% endblock %}
