{% extends 'news.html' %}
{% load cms_tags sekizai_tags staticfiles thumbnail %}
{% load url from future %}

{% block news_content %}
    <h4>{{ object.headline }}</h4>
    <p>{{ object.news_description|safe }}</p>
{% endblock %}
