{% extends "publications.html" %}
{% load cms_tags sekizai_tags staticfiles %}

{% block article_content %}

  <ul>
    {% for article in object_list %}
      <li>
          {% render_model article "author" %}
          {{ article.title }}
          {{ article.journal }}
          {{ article.date }}
      </li>
    {% empty %}
    <p>No articles yet, please add some!</p>
    {% endfor %}
  </ul>

{% endblock %}
