{% extends "organization.html" %}
{% load cms_tags sekizai_tags staticfiles thumbnail %}

{% block staff_content %}
  {% for staff in object_list %}
    <div>
      {% render_model_block staff %}
        {% thumbnail staff.photo '236x236' crop subject_location=staff.photo.subject_location as photo %}
        <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ staff.full_name }}">
        <!--<a href="{{ staff.url }}"> {{ staff.full_name }} </a>-->
      {% endrender_model_block %}
    </div>
  {% endfor %}
{% endblock %}
